//
//  OgoriLog.release.xcconfig
//  OgoriLog
//
//  Created by yokomotod on 2/22/15.
//  Copyright (c) 2015 bookside.net. All rights reserved.
//

#include "Pods/Target Support Files/Pods-OgoriLog/Pods-OgoriLog.release.xcconfig"

#include "Base.xcconfig"
#include "Base.release.xcconfig"
#include "Base-OgoriLog.xcconfig"
