//
//  OgoriLog.debug.xcconfig
//  OgoriLog
//
//  Created by yokomotod on 2/22/15.
//  Copyright (c) 2015 bookside.net. All rights reserved.
//

#include "Base.xcconfig"
#include "Base.debug.xcconfig"
#include "Base-OgoriLog.xcconfig"

#include "Pods/Target Support Files/Pods-OgoriLog/Pods-OgoriLog.debug.xcconfig"
